# Dependencies
node_modules/
package-lock.json

# Test Results
playwright-report/
allure-results/
allure-report/
test-results/
coverage/

# Playwright
.playwright-mcp/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
